* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(72, 69, 69);
}
header{
    background-color: rgb(243, 243, 243);
}
nav{
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.menue ul{
    display: flex;
}
.item{
    list-style-type: none;
    padding: 20px;
}
.item:hover{
background-color: #d3d3d3;
font-weight: 600;
border-radius: 5px;
}
.item a{
    text-decoration: none;

}
.text{
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 40px;
    box-shadow: 4px 4px 86px rgb(255, 255, 255);
}
.body-section{
    
}